body {
  margin: 0;
  padding: 0;
  font-family: "cuprum" "arial" sans-serif;
  font-weight: 400;
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #f3f7f8;
}

.header__cap {
  background-color: #293449;
}

.btn {
  font: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:focus {
  background-color: #ba2732;
}

.header__search {
  background-color: #293449;
}

.header__search:hover {
  background-color: #212a3a;
}

.header__search:focus {
  background-color: #ffffff;
  color: black;
}

.header__bookmark:hover {
  background-color: #212a3a;
}

.header__bookmark:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__trash:hover {
  background-color: #212a3a;

}

.header__bookmark:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__booking {
  font: inherit;
  background-color: #63a63e;
  text-align: center;
  color: white;
  vertical-align: middle;
  border: none;
}

.header__booking:hover {
  background-color: #5fbb2d;
}

.header__booking:active {
  background-color: #518534;
}

.heading {
  background-color: #f4f7f9;
}

.header__desc {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header__nummer {
  font-size: 21px;
  text-transform: uppercase;
  border: 3px solid white;
}

.header__adress {
  color: #32425c;
  font-size: 14px;
}

.userblock__btn {
  background-color: white;
  color: black;
  font-size: 21px;
  line-height: 21px;
}

.userblock__btn:hover {
  color: #ee3643;
}

.userblock__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation__list a {
  color: white;
  font-size: 17px;
}

.main-navigation__list a:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation__item:hover {
  background-color: #293449;
}

.main-navigation__item:active {
  background-color: #1d2739;
}
