*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.content-box-component {
     box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  background-color: white;
  font-size: 14px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #f3f7f8;
}

.header__cap {
  background-color: #293449;
}

.header__cap .container {
  display: flex;
}

.logo {
  box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  padding: 9px 0px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:focus {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b72f38;
}
.btn {
  font: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:focus {
  background-color: #ba2732;
}

.header__search {

}

.header__search form input[type="search"] {
  background-color: #293449;
  color: white;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  font-size: 17px;
  line-height: 18px;
  border: 0;
}

.header__search form input[type="search"]:hover {
  background-color: #212a3a;
}

.header__search form input[type="search"]:focus {
  background-color: white;
  color: black;
  outline: none;
}

.header__search label {
  background-image: url("img/icon-search.svg");
  background-color:rgba(255, 255, 255, 0.3);
  width: 17px;
  height: 17px;
}

.header__search label:hover {
  background-color: rgb(255, 255, 255);
}

.header__search label:active {
  background-color:rgba(255, 255, 255, 0.5);
}

.header__search label:focus {
  background-color: #ef4350;
}

.header__acts {
  display: inline-block;
}

.header__acts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header__acts li {
  width: 150px;

}

.header__acts ul li a {
  color: white;
  font-size: 17px;
  line-height: 18px;
  display: inline-block;
  padding-left: 43px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  background-color: #293449;
}

.header__acts ul li:nth-child(2) a {
  padding-left: 45px;
  padding-right: 30px;
}

.header__acts ul li,
.header__acts ul li a {
  background-color: #293449;
}

.header__acts ul li:hover,
.header__acts ul li a:hover {
  background-color: #212a3a;
}

.header__acts ul li:active,
.header__acts ul li a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__booking:hover {
  background-color: #5fbb2d;
}

.header__booking:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}




.header__booking {
  background-color: #5fbb2d;
  font-size: 17px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 150px;
  text-align: center;
  display: inline-block;
}



.header__bookmark {
  background-image: url("img/icon-bookmark.svg");
  list-style: none;
}

.header__acts:hover {
  background-color: #212a3a;
}

.header__acts:active {
  background-color: #161d29;
}

.header__acts:focus {
  background-color: #293449;
}

.header__acts a:active {
  color: rgba(255, 255, 255, 0.6);
}

.header__trash:hover {
  background-color: #212a3a;
}

.header__bookmark:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__booking {
  font: inherit;
  background-color: #63a63e;
  text-align: center;
  color: white;
  vertical-align: middle;
  border: none;
  font-size: 17px;
  line-height: 18px;
}

.header__booking:hover {
  background-color: #5fbb2d;
}

.header__booking:active {
  background-color: #518534;
}

.heading {
  background-color: #f4f7f9;
  padding-top: 45px;
}

.header__desc {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header__nummer {
  font-size: 21px;
  text-transform: uppercase;
  border: 3px solid white;
}

.header__adress {
  color: #32425c;
  font-size: 14px;
}

.userblock__btn {
  background-color: white;
  color: black;
  font-size: 21px;
  line-height: 21px;
}

.userblock__btn:hover {
  color: #ee3643;
}

.userblock__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;

}

.main-navigation__list {
    list-style: none;
}

.main-navigation__list a {
  color: white;
  font-size: 17px;
}

.main-navigation__list a:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation__item:hover {
  background-color: #293449;
}

.main-navigation__item:active {
  background-color: #1d2739;
}

main {
  background-color: white;
}



.catalog-list {
  font-family: "PT Sans", "Arial", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog-item {
  font-weight: bold;
  line-height: 20px;
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item .actions {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  background-color: #63a63e;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  border-bottom-color: #63a63e;
  background: white;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 216px;
  height: 170px;
}

.catalog-item .title {
  font-size: 18px;
  min-height: 40px;
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 0 25px;
}
.catalog-item .discount {
  font-size: 17px;
  min-height: 20px;
  margin-bottom: 8px;
  text-decoration: line-through;
  color: #999;
}

.catalog-item .price {
  position: relative;
  width: 120px;
  font-size: 17px;
  padding: 10px 0px;
  padding-left: 15px;
  padding-right: 20px;
  background-color: #ee3643;
  margin-left: 4px;
  display: inline-block;
  color: white;
  margin-bottom: 20px;
}

.catalog-item .price:after
{
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid white;
  border-left-color: #ee3643;
}

.slide h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: white;
}

.slide span {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.slide__act {
  font-size: 14px;
  line-height: 18px;
}

.slide__act:hover {
  background-color: #ca2c37;
}

.slide__act:active {
  background-color: #ba2732;
  color: #212a3a;
}

.insert {
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.insert h2 {
  font-size: 30px;
  color: #32425c;
  line-height: 30px;
}

.catalog-item {
  border: 1px solid #eaeaea;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: bold;
}

.catalog-item h2 {
  font-size: 18px;
  line-height: 20px;
}

.catalog-item span {
  text-transform: uppercase;
}

.catalog-item del {
  font-size: 17px;
  color: #a9a9a9;
  text-transform: uppercase;
}

.catalog-item a {
  text-transform: uppercase;
}

.catalog-item:hover {

}

.manufacturs li {
  border: 1px solid #eaeaea;
  background-color: white;
}

.manufacturs li:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.8);
}

.service {
  background-color: #f9f5f0;
}

.service h2 {
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}

.service p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: black;
}

.info-service__button span {
  color: #32425c;
  text-transform: uppercase;
  font-size: 36px;
}

.info-service__button p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: black;
}

.info-service__button button {
  border-radius: 2px;
}

.info-service__delivery {
  background-image: url("../img/info-service-delivery-bg.png");
  background-repeat: no-repeat;

}

.info-service__garanty {
  background-image: url("../img/info-service-garanty-bg.png");
  background-repeat: no-repeat;
}

.info-service__credit {
  background-image: url("../img/info-service-credits-bg.png");
  background-repeat: no-repeat;
}

.service__block label {
  font-size: 21px;
  font-weight: bold;
  color: white;
  background-color: #32425c;
}

.service__block label:not(.service__block label:last-child) {
  border-bottom: 1px solid white;
}

.info {
  background-color: white;
}

.info__title {
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}

.info__desk {
  color: black;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.info__list p {
  font-size: 18px;
  color: black;
}

.info__act {

}

.info-contacts {

}

.info-contacts .info__title {

}

.info-contacts .info__desk {

}

.info__map {

}

.modal-map {

}

.info__contacts a {

}

footer {
  background-color: #32425c;
}

.footer__info {

}

.footer__info .logo {
  font-size: 30px;
  text-transform: uppercase;
}

.site-navigation {

}

.site-navigation li {

}

.site-navigation a {
  font-size: 18px;
  color: #f3f7f9;
}

.footer__adress {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.category-navigation {

}

.category-navigation li {

}

.category-navigation a {
  font-size: 18px;
  color: #ffd180;
}

.footer__acts {
  background-color: #293449;
}

.footer__desk {
  font-size: 16px;
  line-height: 19px;
}

.socnetwork-footer {

}

.socnetwork-footer ul {

}

.socnetwork-footer li {

}

.socnetwork-footer a {

}

.mail-footer {
  color: white;
  font-size: 16px;
}

.mail-footer a {
  color: #ffd180;
}

.site-footer {
  color: white;
}

.site-footer a {
  color: #ffd180;
}

/*catalog*/

.userblock__loged {
  font-size: 21px;
  background-color: white;
}

.userblock__loged:active {
  background-color: #818181;
}

.userblock__personal-link {
  color: #32425c;
}

.userblock__personal-link:hover {
  color: #ee3643;
}

.userblock__personal-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs__list {
  list-style: none;
}

.breadcrumbs__item a {
  color: black;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
}


.breadcrumbs__item--home a {

}

.catalog__title {
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.sort__appellation {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed red;
  font-size: 13px;
}

.sort__appellation:hover {
  color: black;
  border-bottom: 1px solid red;
}

.sort__appellation-current {
  color: red;
  border-bottom: none;
}

.catalog__filter fieldset {
    border:none;
}

.catalog__filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.catalog__filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-input {
  color: #b5b5b5;
}

.filter-input:checked {
  color: #c5c5c5;
}

.filter-input:disabled {
  color: rgba(181, 181, 181, 0.3);
}

.filter-option label {
  text-transform: uppercase;
  font-family:  "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;

}

.filter-button {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.sort__course {
  background-color: #c5c5c5;
}

.sort__course:hover {
  background-color: #000000;
}

.sort__course-current {
  background-color: red;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: black;
  font-size:13px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.pagination-item a:active {
  border: 1px solid red;
}

.pagination-item-current a {
  color: white;
  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:active,
.pagination-item-current a:focus {
  color: white;
  background-color: #ee3643;
}

.site-navigation__act:hover {
  border-bottom: 1px solid white;
}

.site-navigation__act:active {
color: rgba(241, 245, 247, 0.5);
}

.category-navigation__act:hover {
  border: 1px solid #ffd180;
}

.category-navigation__act:active {
  color: rgba(255, 209, 128, 0.5);
}

.header__acts ul li .trash-inner {
  background-color: #ee3643;
}











.
