*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  background-color: white;
  font-size: 14px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #f3f7f8;
}

.topheader {
  min-height: 42px;
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
  text-transform: uppercase;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.topheader-logo {
  font-size: 24px;
  line-height: 24px;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 220px;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.topheader-search {
  width: 270px;
  position: relative;
}

.topheader-search input {
  background-color: #293449;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  padding-left: 50px;
  color: white;
  min-height: 42px;
}

.topheader-search input:hover {
  background-color: #212a3a;
}

.topheader-search input:focus {
  background-color: white;
  outline: none;
  color: black;
}

.topheader-search input:hover + .search-icon {
  opacity: 1;
}

.topheader-search input:active + .search-icon {
  opacity: 0.5;
}

.topheader-search input:focus + .search-icon {
  background-image: url("../img/icon-search-red.png");
  opacity: 1;
}

.search-icon {
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.topheader-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 450px;
  display: flex;
}

.topheader-list li {
  width: 150px;
}

.topheader-item a {
  font-size: 17px;
  line-height: 18px;
  color: white;
  display: block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  background-color: #293449;
  position: relative;
}

.topheader-item a:hover {
  background-color: #212a3a;
}

.topheader-item a:active {
  background-color: #161d29;
}

.topheader-item:last-child a {
  padding-left: 0;
  text-align: center;
  background-color: #63a63e;
  position: static;
}

.topheader-item a:hover {
  background-color: #212a3a;
}

.topheader-item a:active {
  background-color: #161d29;
}

.topheader-item:last-child a:hover {
  background-color: #5fbb2d;
}

.topheader-item:last-child a:active {
  background-color: #518534;
}

.topheader-item:first-child a::before {
    content: "";
    width: 14px;
    height: 16px;
    left: 17px;
    top: 13px;
    opacity: 0.3;
    position: absolute;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.topheader-item:first-child a:hover::before {
  opacity: 1;
}

.topheader-item:first-child a:active::before,
.topheader-item:first-child a:focus::before {
  opacity: 0.5;
}

.topheader-item:nth-child(2) a::before {
  content: "";
  width: 15px;
  height: 15px;
  left: 17px;
  top: 13px;
  opacity: 0.3;
  position: absolute;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.topheader-item:nth-child(2) a:hover::before {
  opacity: 1;
}

.topheader-item:nth-child(2) a:active::before {
  opacity: 0.5;
}

.topheader .container {
  display: flex;
}

.bottomheader {
  padding-bottom: 65px;
}

.infoheader {
  display: flex;
  padding-top: 45px;
}

.infoheader-description {
  width: 228px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  padding-left: 52px;
  margin-right: 92px;
  margin-top: 0;
  margin-bottom: 0;
}

.infoheader-contacts {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.infoheader-nummer {
  display: block;
  width: 270px;
  border: 3px solid white;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 71px;
  position: relative;
  margin-bottom: 5px;
}

.infoheader-nummer::before {
  content: "";
  width: 19px;
  height: 19px;
  left: 13px;
  top: 10px;
  position: absolute;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.infoheader-adress {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  color: #32425c;
}

.infoheader-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 19px;
  width: 300px;
  display: flex;
}

.infoheader-item {
  width: 121px;
  margin-right: 10px;

}

.infoheader-item:last-child {
  width: 150px;
  margin-right: 0;
}

.infoheader-item a {
  width: 121px;
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: black;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  padding-left: 48px;
}

.infoheader-item a:hover {
  color: #ee3643;
}

.infoheader-item:last-child a {
  width: 150px;
  text-align: center;
  padding-left: 0px;
}

.infoheader-item:first-child a {
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 14px 14px;
}

.infoheader-item:first-child a:hover {
  background-image: url("../img/icon-login-hover.png");
  background-repeat: no-repeat;
  background-position: 14px 14px;
}

.infoheader-item:first-child a:active {
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 14px 14px;
  color: rgba(0, 0, 0, 0.3);
}

.bottomheader-navigation {
  background-color: #32425c;
  padding-left: 21px;
  padding-right: 24px;
  box-shadow: 0 5px #293449;
}

.bottomheader-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.bottomheader-navigation a {
  color: white;
  font-size: 17px;
  line-height: 17px;
  padding-top: 19px;
  padding-bottom: 19px;
  display: block;
  padding-left: 31px;
  padding-right: 31px;
}

.bottomheader-navigation a:hover {
  background-color: #293449;
}

.bottomheader-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* Начинается верстка main */

.category {
  padding-top: 60px;
  margin-bottom: 52px;
}

.topcategories {
  display: flex;
  margin-bottom: 20px;
}

.topcategories > div {
  margin-right: 20px;
  width: 300px;
  background-color: #ffbf47;
  padding-top: 21px;
  padding-left: 23px;
}

.topcategories > div:last-child {
  margin-right: 0px;
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 50%;
}

.category-item > h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: white;
  margin-bottom: 12px;
}

.category-item > a {
  display: block;
  width: 135px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 2px;
  margin-bottom: 22px;
}

.category-item > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-item > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.topcategories > div:nth-child(2) {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 50%;
}

.topcategories > div:first-child {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 50%;
}

.promo-slider {
  width: 620px;
  height: 266px;
  margin-right: 20px;
}

.promo-slider-item {
  position: relative;
  display: none;
  width: 620px;
  min-height: 266px;
}

.promo-slider-active {
  display: block;
}

.promo-slider-item::before,
.promo-slider-item::after {
  content: "";
  position: absolute;
  bottom: 36px;
  left: 295px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.promo-slider-item::after {
  left: 315px;
}

.promo-slider-drills::after {
  background-color: #ee3643;
}

.promo-slider-perforators::before {
  background-color: #ee3643;
}

.promo-slider p {
  margin: 0;
  padding: 0;
}

p.slider-caption {
  padding-top: 25px;
  padding-left: 24px;
  margin-bottom: 3px;
}

p.slider-slogan {
  padding-left: 24px;
}

.promo-slider .slider-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-slider .slider-slogan {
  margin-bottom: 122px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-slider-perforators .slider-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
}

.promo-slider-drills {
  background-color: #685c53;
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
}

.promo-slider-perforators {
  background-color: #685c53;
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
}

.promo-slider .btn {
  width: 195px;
  margin-left: 25px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.promo-slider {
  position: relative;
}

.promo-control {
  position: absolute;
  width: 22px;
  height: 40px;
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  cursor: pointer;
}

.promo-control.promo-left-control {
  top: 114px;
  left: 25px;
  background: url("../img/icon-left.svg") no-repeat 0 0;
}

.promo-control.promo-right-control {
  top: 114px;
  right: 20px;
  background: url("../img/icon-right.svg") no-repeat 0 0;
}


.bottomcategories {
  display: flex;
}

.rightcategory div {
  width: 300px;
  background-color: #ffbf47;
  padding-top: 21px;
  padding-left: 23px;
  margin-bottom: 20px;
  padding-bottom: 22px;

}

.rightcategory  a {
  margin-bottom: 0px;
}

.rightcategory div:first-of-type {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 50%;
}

.rightcategory div:last-of-type {
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 50%;
}


.rightcategories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.rightcategories > div {

}

.rightcategories > div:first-child {
  background-color: #8ed78f;
  width: 300px;
  padding-top: 21px;
  padding-left: 23px;

}

.rightcategories > div:last-child {
  background-color: #ffc047;
  width: 300px;
  padding-top: 21px;
  padding-left: 23px;
  margin-bottom: 0px;
}

.btn {
  font: inherit;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

/* Начинается блок популярные товары */

.insert {
  background-color: #f9f5f0;
  margin-bottom: 20px;
  padding: 25px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}

.insert h2 {
  font-size: 30px;
  color: #32425c;
  line-height: 30px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.insert button {
  font: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 252px;
  border-radius: 3px;
}

.catalog-list {
  font-family: "PT Sans", "Arial", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.catalog-item {
  font-weight: bold;
  line-height: 20px;
  position: relative;
  display: block;
  width: 220px;
  vertical-align: top;

  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: 1px solid #ffffff;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item .flag {
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
  background: url("../img/new-flag.png") no-repeat 0 0;
  display: none;
}

.catalog-item .flag-new {
  display: block;
}

.catalog-actions {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff;
}

.catalog-actions .buy,
.catalog-actions .bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  background-color: #63a63e;
}

.catalog-actions .buy {
  position: relative;
}

.catalog-actions .buy:hover {
  background-color: #5fbb2d;
  border-color:  #5fbb2d;
  border-bottom-color: #377416;
}

.catalog-actions .buy:active {
  background-color: #518534;
  border-color:  #518534;
}

.catalog-actions .bookmark:hover {
  border-color: #32425c;
}

.catalog-actions .bookmark:active {
  opacity: 0.3;
}

.catalog-item:hover .image img {
  display: none;
}


.catalog-actions .buy::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.catalog-actions .buy:hover::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg");
  opacity: 1;
}


.catalog-actions .bookmark {
  color: #32425c;
  border-bottom-color: #63a63e;
  background: white;
}

.catalog-actions {
  display: none;
}

.catalog-item:hover .catalog-actions {
  display: block;
}

.catalog-item .image {
  width: 216px;
  height: 170px;
}

.catalog-item .title {
  font-size: 18px;
  min-height: 40px;
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 0 25px;
}
.catalog-item .discount {
  font-size: 17px;
  min-height: 20px;
  margin-bottom: 8px;
  text-decoration: line-through;
  color: #999;
}

.catalog-item .price {
  position: relative;
  width: 120px;
  font-size: 17px;
  padding: 10px 0px;
  padding-left: 15px;
  padding-right: 20px;
  background-color: #ee3643;
  margin-left: 4px;
  display: inline-block;
  color: white;
  margin-bottom: 20px;
  vertical-align: top;
}

.catalog-item .price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid white;
  border-left-color: #ee3643;
}

.manufacturs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 84px;
}

.manufacturs li {
  border: 1px solid #eaeaea;
  background-color: white;
  width: 220px;
  margin-bottom: 20px;
  min-height: 145px;
}

.manufacturs li a {
  width: 218px;
  min-height: 143px;
  display: block;

}

.manufacturs-image {
  width: 216px;
}

.manufacturs li:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.8);
}

.manufacturs li:active {
  box-shadow: 0 0 2px 2px rgba(221, 221, 221, 0.8);
}

.services {
  background-color: #f4f8f9;
  padding-top: 65px;
}

.services-container {
  position: relative;
}

.services-container::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 240px;

  width: 10px;
  height: 272px;

  background: url("../img/services-divider.png");
}


.services-container > h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
  font-weight: 400;
  margin-bottom: 30px;
}

.services-container > p {
  font-size: 13px;
  line-height: 24px;
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.services-container > p:last-of-type {
  margin-bottom: 70px;
}

.services-slider {
  display: flex;
}

.services-slider-controls {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-bottom: 100px;
}

.services-slider label {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: black;
  background-color: #32425c;
  cursor: pointer;
  border-bottom: 1px solid #4d627b;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 240px;
  padding-left: 22px;
  color: white;
}

.services-slider label:hover {
  background-color: #293449;
}

.services-slider .services-toogle:checked + label {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px #ffffff;
  border-bottom: white;
}

.services-slider-item {
  display: none;
  width: 620px;
  margin-left: 80px;
}

.services-slider-item h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services-slider-item p {
  width: 275px;
  font-size: 13px;
  line-height: 24px;
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services-slider-active {
  display: block;
}



.services-slider-garanty {
  width: 380px;
}

.services-slider-active {
  display: block;
}

.services-slider-delivery {
  background: url("../img/info-service-delivery-bg.png") no-repeat right top 25px;
}

.services-slider-item h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

.services-slider-garanty p {
  width: 377px;
  margin: 0;
  padding: 0;
}

.services-slider-garanty {
  background: url("../img/info-service-garanty-bg.png") no-repeat right top;
  width: 620px;
}

.services-slider-credit {
  background: url("../img/info-service-credits-bg.png") no-repeat right top 25px;
}

.services-slider-credit a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.services-slider-credit p {
  width: 285px;
  margin: 0;
  margin-bottom: 30px;
}

.services-slider-item .btn {
  width: 195px;
}

.info {
  padding-bottom: 85px;
  padding-top: 80px;
}

.info-company {
  width: 620px;
  margin-right: 20px;

}

.info-title {
  font-size: 30px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.info-company p:first-of-type {
  width: 540px;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 28px;
}

.info-company p:last-of-type {
  width: 400px;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 25px;
}

.info-company ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.info-list-item  {
  font-size: 18px;
  line-height: 20px;
  color: black;
  width: 160px;
  position: relative;
  margin-bottom: 20px;
}

.info-list-item:last-child  {
  margin-bottom: 0px;
}

.info-list-item span {
  display: block;
  padding-left: 36px;
}

.info-list-item:first-child span::before,
.info-list-item:nth-child(2) span::before,
.info-list-item:last-child span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 25px;
  height: 2px;
  background: url("../img/redline.png");
}

.info-company a {
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  display: block;
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.info-contacts {
  width: 300px;
}

.info-contacts p {
  font-size: 13px;
  line-height: 24px;
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 190px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.info-map {
  margin-bottom: 35px;
  display: block;
}

.writing-acts {
  width: 300px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.info .container {
  display: flex;
}

.topfooter {
  background-color: #32425c;
  padding-bottom: 50px;
}

.topfooter__adress {
  width: 380px;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  margin-bottom: 35px;
  display: block;
  text-align: center;
  box-shadow: 0 5px #b52933;
  width: 220px;
}

.topfooter__adress p {
  width: 330px;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  color: #f3f7f9;
}

.topfooter__navigation {
  width: 550px;
  margin-top: 38px;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.site-navigation  a {
  font-size: 18px;
  line-height: 24px;
}

.site-navigation  a:hover,
.category-navigation  a:hover {
  text-decoration: underline;
}

.site-navigation  a:active,
.category-navigation  a:active {
  opacity: 0.5;
}

.topfooter .container {
  display: flex;
}

.category-navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  justify-content: space-between;
}

.category-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.bottomfooter {
  background-color: #293449;
  padding-top: 35px;
  padding-bottom: 30px;
}

.bottomfooter .container {
  display: flex;
}

.bottomfooter__desk {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  width: 230px;
  color: white;
  margin-right: 150px;
}

.bottomfooter__socnetwork {
  width: 250px;
}

.bottomfooter__socnetwork ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.socnetwork-list li {
  margin-right: 5px;
}

.socnetwork-list li:last-child {
  margin-right: 0;
}

.socnetwork-list a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  font-size: 0;
}

.socnetwork-list a:hover,
.socnetwork-list a:active {
  background-color: #ee3643;
}

.socnetwork-list a {
  background-image: url(../img/icon-vk.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.socnetwork-item:nth-child(2) a {
  background-image: url(../img/icon-fb.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.socnetwork-item:nth-child(3) a {
  background-image: url(../img/icon-insta.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bottomfooter-contacts {
  width: 300px;
  display: flex;
  flex-direction: row;
}

.bottomfooter-item {
  width: 150px;
}

.bottomfooter-item:last-child {
  padding-left: 25px;
}

.bottomfooter-item p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.bottomfooter-item a {
  color: #ffd180;
}

.bottomfooter-contacts a:hover {
  text-decoration: underline;
}

.bottomfooter-contacts a:active {
  color: #ee3643;
}

.bottomfooter-contacts > div:first-child {
  margin-right: 50px;
}

.map {
  margin-bottom: 33px;
  display: block;
}


/* Каталог */

.inner-page .basket {
  background-color: #ee3643;
}

.inner-page .user {
  display: block;
  width: 300px;
  font-size: 21px;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;
  padding-right: 49px;
  background-color: white;
  color: #000000;
  position: relative;
  margin-bottom: 8px;
  position: relative;
}

.inner-page .user::before {
  content: "";
  width: 20px;
  height: 18px;
  left: 13px;
  top: 13px;
  position: absolute;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .user:hover::before {
  background-image: url(../img/icon-user.png);
}

.inner-page .user::after {
  content: "";
  width: 21px;
  height: 17px;
  right: 10px;
  top: 14px;
  position: absolute;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .user:hover::after {
  background-image: url(../img/icon-logout.png);
}

.inner-page .user:active {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .user:active:before {
  background-image: url(../img/icon-user.svg);
}

.inner-page .user:active:after {
  background-image: url(../img/icon-logout.svg);
}

.inner-page .profil-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.profil-list a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  display: block;
  padding-left: 17px;
  text-decoration: underline;
}

.profil-list-item:first-child a {
  margin-right: 15px;
}

.profil-list-item:last-child a {
  position: relative;
}

.profil-list-item:last-child a::before {
  content: "";
  width: 4px;
  height: 5px;
  left: 1px;
  top: 7px;
  position: absolute;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.profil-list-item a:hover {
  color: #ee3643;
}

.profil-list-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  padding-right: 25px;
  margin-right: 15px;
  position: relative;
}

.breadcrumbs li::after {
  content: "";
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 3px;
  right: 0px;
}

.breadcrumbs li:last-child {
  margin-right: 0px;
}

.breadcrumbs a {
  color: black;
}

.breadcrumbs-home {
  position: relative;
  display: block;
  width: 20px;
  margin-right: -5px;
  font-size: 0;
}

.breadcrumbs-home::before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 12px;
  content: '';
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

.inner-page .insert  {
  background-color: #f2f6f8;
}

.inner-page .insert h2 {
  margin: 0;
  padding: 0;
}

.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-right: 20px;
}

.filter-item {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom:
}
}

.range-filter {
  width: 220px;
}

.filter-item legend {
  color: black;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.filter fieldset {
  margin-bottom: 25px;
}

.range-controls {
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid white;

  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 30px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 11px;
}

.range-controls .toggle-max {
  left: 138px;
}

.price-controls {
  font-size: 0;
  display: flex;
  position: relative;
}

.price-controls p:first-of-type {
  margin-right: 30px;

}






.price-controls label {
  display: inline-block;
  width: 50%;
  text-transform: uppercase;
  vertical-align: top;
}


.price-controls input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  text-align: center;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95px;
  border: none;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.filter-item ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 35px;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  width: 23px;
  height: 23px;
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -35px;
  top: 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -35px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -35px;
  top: -2px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -35px;
  top: -2px;
}

.filter-button {
  border: 1px solid #e5e5e5;
  background-color: white;
  width: 140px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: black;
  padding: 9px;
  text-transform: uppercase;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  display: inline-block;
  width: 220px;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  vertical-align: top;
}

.input-line {
  width: 10px;
  height: 1px;
  background-color: #444444;
  position: absolute;
  left: 310px;
  top: 682px;
}

.filter-line {
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  margin-bottom: 17px;
}

.filter-item:last-of-type {
  margin-bottom: 75px;
}

.catalog-column-title {
  background-color: #f7f3ec;
  display: flex;
  width: 700px;
  align-items: center;
  margin-bottom: 20px;
}

.sort {
  font-size: 13px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  width: 220px;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.catalog-column-title .type-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 380px;
  display: flex;
  margin-right: 20px;
}

.type-list li:first-child {
  margin-right: 70px;
}

.type-list li:nth-child(2) {
  margin-right: 65px;
}

.type-list a {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  border-bottom: 1px dotted #ee3643;
}

.catalog .link-current {
  color: #ee3643;
}

.sort-direction-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.sort-direction-item {
  position: relative;
}

.sort-direction-item a {
  width: 11px;
  height: 10px;
  display: inline-block;
  background-image: url(../img/icon-up-dir.png);
  background-position: 0px 0;
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  left: 1px;
  vertical-align: top;
}

.sort-direction-item:last-child a {
  top: -5px;
  left: 30px;
  transform: rotate(180deg);
}

.sort-direction-list a:hover {
  background-image: url(../img/icon-up-dir-hover.png);
}

.sort-direction-list a:focus {
  background-image: url(../img/icon-up-dir-activity.png);
}

.sort-direction-current a {
  background-image: url(../img/icon-up-dir-activity.png);
}

.type-list a:hover {
  color: black;
  border-bottom-style: solid;
}

.type-list a:focus {
  color: #ee3643;
  border-bottom: none;
}

.catalog-columns {
  display: flex;
  margin-bottom: 60px;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  color: black;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-transform: uppercase;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 38px;
  text-align: center;
}

.pagination-item .next {
  padding-left: 32px;
  padding-right: 32px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-of-type {
  margin-right: 0;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: white;
  background-color: #ee3643;
  border-color: #ee3643;
}

.catalog-info {
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 65px;
}

.catalog-info h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.catalog-info p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

/* Модальные окна */

.modal {
  background-color: white;
  border-top: 7px solid #ee3643;
  position: fixed;
  z-index: 30;
}

.modal-writing {
  width: 620px;
  height: 460px;
  padding-top: 50px;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -310px;

  display: none;
}

.modal-map {
  width: 940px;
  height: 446px;
  top: 50%;
  left: 50%;
  margin-top: -223px;
  margin-left: -460px;
  border: none;
  display: none;
}

.modal-close {
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 10px;
  z-index: 99999;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
  top: 9px;
  right: 0px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-user-info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 48px;
  padding-left: 80px;
  padding-right: 80px;
}

.writing-form label {
  margin-bottom: 13px;
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: black;
}

.modal-user-info p {
  width: 220px;
}

.modal-user-info p:first-child {
  margin-right: 20px;
}

.modal-user-info p input {
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.writing-form > p {
  padding-left: 80px;
  padding-right: 80px;
}

.writing-form p textarea {
  padding-top: 10px;
  padding-left: 14px;
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  margin-bottom: 45px;
}

.modal-button {
  background-color: #f4f4f4;
  padding-bottom: 37px;
  padding-top: 37px;
  padding-bottom: 37px;
}

.modal-button button {
  border: 0;
  width: 460px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 80px;
}

.modal-map {
  width: 940px;
  height: 446px;
  top: 50%;
  left: 50%;
  margin-top: -223px;
  margin-left: -460px;
  border: none;
  display: none;
}

.modal-map p {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.map {
  margin-bottom: 33px;
  display: block;
}


.modal-result {
  width: 620px;
  border-top: 7px solid #ee3643;
  padding-top: 68px;
  background-image: url(../img/form-1.svg);
  background-repeat: no-repeat;
  background-position: 82px 48px;
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 50000;
  background-color: white;

  transform: translate(-50%, -50%);
  display: none;
}

.modal-result h2 {
  font-size: 30px;
  line-height: 30px;
  color: black;
  margin: 0;
  padding: 0;
  margin-left: 180px;
  margin-bottom: 68px;
}

.modal-result .modal-button {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
}

.modal-button button {
  margin-left: 0px;
  width: 220px;
}

.modal-button button:first-child {
  margin-right: 20px;
}

.modal-button button:last-child {
  background-color: white;
  color: black;
}

.modal-button button:last-child:hover {
  color: #ee3643;
}

.modal-button button:last-child:focus {
  opacity: 0.3;
}

.modal-show {
  display: block;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}
