*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.content-box-component {
     box-sizing: content-box;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  background-color: white;
  font-size: 14px;

}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #f3f7f8;
  padding-bottom: 65px;
}

.topheader {
  min-height: 42px;
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
  text-transform: uppercase;

}

.topheader__logo {
  font-size: 24px;
  line-height: 24px;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 220px;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

..logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.topheader__search {
  width: 270px;
  position: relative;
}

.topheader__search input {
  background-color: #293449;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  padding-left: 50px;
  color: white;
  min-height: 42px;
}

.topheader__search input:hover {
  background-color: #212a3a;
}

.topheader__search input:focus {
  background-color: white;
  outline: none;
  color: black;
}

.search-icon {
  position: absolute;
  width: 17px;
  height: 17px;
  display: block;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.topheader__search:hover .search-icon {
  opacity: 1;
}

.topheader__search:active .search-icon {
  opacity: 0.5;
}

/* как здесь поставить иконку красным цветом?
.topheader__search:focus .search-icon { }
*/

.topheader__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 450px;
  display: flex;
}

.topheader__list li {
  width: 150px;
}

.topheader__list a {
  font-size: 17px;
  line-height: 18px;
  color: white;
  display: block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  background-color: #293449;
  position: relative;
}

.topheader__list li:last-child a {
  padding-left: 0;
  text-align: center;
  background-color: #63a63e;
  position: static;
}

.topheader__list li a:hover {
  background-color: #212a3a;
}

.topheader__list li a:active {
  background-color: #161d29;
}

.topheader__list li:last-child a:hover {
  background-color: #5fbb2d;
}

.topheader__list li:last-child a:active {
  background-color: #518534;
}

.topheader__list li:first-child a::before {
    content: "";
    width: 14px;
    height: 16px;
    left: 17px;
    top: 13px;
    opacity: 0.3;
    position: absolute;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.topheader__list li:first-child a:hover::before {
  opacity: 1;
}

.topheader__list li:first-child a:active::before,
.topheader__list li:first-child a:focus::before {
  opacity: 0.5;
}

.topheader__list li:nth-child(2) a::before {
  content: "";
  width: 15px;
  height: 15px;
  left: 17px;
  top: 13px;
  opacity: 0.3;
  position: absolute;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.topheader__list li:nth-child(2) a:hover::before {
  opacity: 1;
}

.topheader__list li:nth-child(2) a:active::before {
  opacity: 0.5;
}

.topheader .container {
  display: flex;
}

.infoheader {
  display: flex;
  padding-top: 45px;
}

.infoheader__desc {
  width: 300px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  padding-left: 52px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.infoheader__contacts {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.infoheader__nummer {
  display: block;
  width: 270px;
  border: 3px solid white;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 71px;
  position: relative;
  margin-bottom: 5px;
}

.infoheader__nummer::before {
  content: "";
  width: 19px;
  height: 19px;
  left: 13px;
  top: 10px;
  position: absolute;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.infoheader__adress {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  color: #32425c;
}

.infoheader__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 19px;
  width: 300px;
  display: flex;
}

.infoheader__list li {
  width: 121px;
  margin-right: 10px;
}

.infoheader__list li:last-child {
  width: 150px;
  margin-right: 0;
}

.infoheader__list li a {
  width: 121px;
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: black;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  padding-left: 48px;
}

.infoheader__list li:last-child a {
  width: 150px;
  text-align: center;
  padding-left: 0px;
}

.infoheader__list li:first-child a {
  position: relative;
}

.infoheader__list li:first-child a::before {
  content: "";
  width: 20px;
  height: 17px;
  left: 14px;
  top: 14px;
  position: absolute;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.infoheader__list li a:hover {
  color: #ee3643;
}

.infoheader__list li a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*
  Я не знаю как изменить цвет иконки при наведении
.infoheader__list li:first-child:hover a::before {

}

*/

.main-navigation {
  background-color: #32425c;
  padding-left: 21px;
  padding-right: 24px;
  box-shadow: 0 5px #293449;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.main-navigation ul li a {
  color: white;
  font-size: 17px;
  line-height: 17px;
  padding-top: 19px;
  padding-bottom: 19px;
  display: block;
  padding-left: 31px;
  padding-right: 31px;
}

.main-navigation ul li a:hover {
  background-color: #293449;
}

.main-navigation ul li a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* Заканчивается header */

.category {
  padding-top: 60px;
  margin-bottom: 52px;
}

.topcategories {
  display: flex;
  margin-bottom: 20px;
}

.topcategories > div {
  margin-right: 20px;
  width: 300px;
  background-color: #ffbf47;
  padding-top: 21px;
  padding-left: 23px;


}

.topcategories > div:last-child {
  margin-right: 0px;
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 50%;
}

.category__item > h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: white;
  margin-bottom: 12px;
}

.category__item > a {
  display: block;
  width: 135px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 2px;
  margin-bottom: 22px;
}

.category__item > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category__item > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.topcategories > div:nth-child(2) {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 50%;
}

.topcategories > div:first-child {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 50%;
}

.slider {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  width: 620px;
  min-height: 265px;
}

.slider-controls-item-1::before {
  position: absolute;
  content: '';
  cursor: pointer;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  top: 115px;
  left: 25px;
}

.slider-controls-item-2::before {
  position: absolute;
  top: 115px;
  right: 20px;
  width: 22px;
  height: 40px;
  content: '';
  cursor: pointer;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
}

.slider-indicator {
  position: absolute;
  bottom: 36px;
  left: 295px;
  display: flex;
  width: 30px;
  height: 10px;
  justify-content: space-between;
}

.slider-indicator-item {
  width: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.slider-item:nth-child(1) {
  background-image: url('../img/slider-2.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-item:nth-child(2) {
  background-image: url('../img/slider-1.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#slider-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#slider-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#slider-1:checked ~ .slider-indicator .slider-indicator-1 {
  background-color: #ee3643;
}

#slider-2:checked ~ .slider-indicator .slider-indicator-2 {
  background-color: #ee3643;
}

.slider-item .slider-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  text-transform: uppercase;
  color: #fff;
}

.slider-item .slider-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 125px;
  padding-left: 25px;
  color: #fff;
}

.slider-btn {
  font-size: 14px;
  line-height: 18px;
  margin-left: 25px;
  padding: 10px 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: #ca2c37;
}

.slider-btn:active {
  background-color: #ba2732;
}

.rightcategories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rightcategories > div {
  margin-bottom: 20px;
}

.rightcategories > div:first-child {
  background-color: #8ed78f;
  width: 300px;
  padding-top: 21px;
  padding-left: 23px;

}

.rightcategories > div:last-child {
  background-color: #ffc047;
  width: 300px;
  padding-top: 21px;
  padding-left: 23px;
  margin-bottom: 0px;
}

.insert {
  background-color: #f9f5f0;
  margin-bottom: 20px;
  padding: 25px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}

.insert h2 {
  font-size: 30px;
  color: #32425c;
  line-height: 30px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.insert button {
  font: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 252px;
  border-radius: 3px;
}

.btn {
  font: inherit;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.catalog-list {
  font-family: "PT Sans", "Arial", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog-item {
  font-weight: bold;
  line-height: 20px;
  position: relative;
  display: inline-block;
  width: 220px;

  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item .actions {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  background-color: #63a63e;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  border-bottom-color: #63a63e;
  background: white;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 216px;
  height: 170px;
}

.catalog-item .title {
  font-size: 18px;
  min-height: 40px;
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 0 25px;
}
.catalog-item .discount {
  font-size: 17px;
  min-height: 20px;
  margin-bottom: 8px;
  text-decoration: line-through;
  color: #999;
}

.catalog-item .price {
  position: relative;
  width: 120px;
  font-size: 17px;
  padding: 10px 0px;
  padding-left: 15px;
  padding-right: 20px;
  background-color: #ee3643;
  margin-left: 4px;
  display: inline-block;
  color: white;
  margin-bottom: 20px;
}

.catalog-item .price:after
{
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid white;
  border-left-color: #ee3643;
}

.manufacturs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 84px;
}

.manufacturs li {
  border: 1px solid #eaeaea;
  background-color: white;
  width: 220px;
  margin-bottom: 20px;
  min-height: 145px;
}

.manufacturs li a {
  width: 218px;
  min-height: 143px;
  display: inline-block;
}

.manufacturs-image {
  width: 216px;
}

.manufacturs li:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.8);
}

.services {
  background-color: #f4f8f9;
  padding-top: 65px;
}

.services > div > h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services > div > p {
  font-size: 13px;
  line-height: 24px;
  width: 460px;
  padding: 0;
  margin: 0;
}

.services {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding-top: 65px;

  color: #000000;

  background-color: #f3f7f9;
}

.services .container {
  position: relative;
}

.services .container::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 240px;

  width: 10px;
  height: 272px;

  background: url("../img/services-divider.png");
}

.services h2 {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;;
}

.services h3 {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services p {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services .services-slogan {
  width: 410px;
  margin-bottom: 65px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 240px;
  margin-bottom: 100px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.services-slider label {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  cursor: pointer;
}

.services-slider label {
  min-height: 61px;
  margin-bottom: 1px;
  padding-top: 15px;
  padding-left: 23px;

  -webkit-box-shadow: 0 1px #293449,
  inset 0 1px #405069;
          box-shadow: 0 1px #293449,
  inset 0 1px #405069;
}

.services-slider label:hover {
  background-color: #293449;
}

.services-slider input.services-toggle:checked + label {
  color: #32425c;

  background-color: #ffffff;
  -webkit-box-shadow: 0 1px #ffffff;
          box-shadow: 0 1px #ffffff;
}

.services-slider-item {
  display: none;
  width: 620px;
  margin-left: 80px;
}

.services-slider-item h3 {
  margin-bottom: 28px;
}

.services-slider-delivery p {
  width: 275px;
}

.services-slider-waranty p {
  width: 375px;
}

.services-slider-active {
  display: block;
}

.services-slider-delivery {
  background: url("../img/delivery.png") no-repeat right top 25px;
}

.services-slider-waranty {
  background: url("../img/warranty.png") no-repeat right top 5px;
}

.services-slider-credit {
  background: url("../img/credit.png") no-repeat right top;
}

.services-slider-item .btn {
  width: 195px;
  margin-top: 25px;
}

.info-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.info-wrapper {
  margin-bottom: 86px;
}

.more-info {
  width: 530px;
}

.info-wrapper h2 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;;
}

.info-wrapper p {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.more-info p {
  width: 530px;
}

.more-info p:last-of-type {
  width: 400px;
}

.transport-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.transport-list li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 36px;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.transport-list li:last-child {
  margin-bottom: 0;
}

.transport-list li::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.contacts {
  width: 300px;
}

.contacts p {
  width: 190px;
  margin-bottom: 28px;
}

.info-wrapper .btn {
  margin-top: 35px;
}

.more-info .btn {
  width: 220px;
}

.contacts .btn {
  display: block;
}

.info {
  padding-bottom: 85px;
}

.info__company {
  width: 620px;
  margin-right: 20px;

}

.info__title {
  font-size: 30px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.info__company p:first-of-type {
  width: 540px;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 28px;
}

.info__company p:last-of-type {
  width: 400px;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 25px;
}

.info__company ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.info__list li  {
  font-size: 18px;
  line-height: 20px;
  color: black;
  width: 160px;
  position: relative;
  margin-bottom: 20px;
}

.info__list li:last-child  {
  margin-bottom: 0px;
}

.info__list li span {
  display: block;
  padding-left: 36px;
}

.info__list li:first-child span::before,
.info__list li:nth-child(2) span::before,
.info__list li:last-child span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 25px;
  height: 2px;
  background: url("../img/redline.png");
}

.info__company a {
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  display: block;
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.info__contacts {
  width: 300px;
}

.info__contacts p {
  font-size: 13px;
  line-height: 24px;
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 190px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.info__map {
  margin-bottom: 40px;
  display: block;
}

.writing-act {
  width: 300px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.info .container {
  display: flex;
}

.topfooter {
  background-color: #32425c;
  padding-bottom: 50px;
}

.topfooter__adress {
  width: 380px;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  margin-bottom: 35px;
  display: block;
  text-align: center;
  box-shadow: 0 5px #b52933;
  width: 220px;
}

.topfooter__adress p {
  width: 380px;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  color: #f3f7f9;
}

.topfooter__navigation {
  width: 550px;
  margin-top: 38px;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.site-navigation li a {
  font-size: 18px;
  line-height: 24px;
}

.site-navigation li a:hover,
.category-navigation li a:hover {
  text-decoration: underline;
}

.site-navigation li a:active,
.category-navigation li a:active {
  opacity: 0.5;
}

.topfooter .container {
  display: flex;
}

.category-navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  justify-content: space-between;
}

.category-navigation li a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.bottomfooter {
  background-color: #293449;
  padding-top: 35px;
  padding-bottom: 30px;
}

.bottomfooter .container {
  display: flex;
}

.bottomfooter__desk {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  width: 390px;
  color: white;
}

.bottomfooter__socnetwork {
  width: 250px;
}

.bottomfooter__socnetwork ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.bottomfooter ul li {
  margin-right: 5px;
}

.bottomfooter ul li:last-child {
  margin-right: 0;
}

.bottomfooter__socnetwork ul li a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  font-size: 0;
}

.bottomfooter__socnetwork ul li a:hover,
.bottomfooter__socnetwork ul li a:active {
  background-color: #ee3643;
}

.bottomfooter__socnetwork ul li:first-child a {
  background-image: url(../img/icon-vk.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bottomfooter__socnetwork ul li:nth-child(2) a {
  background-image: url(../img/icon-fb.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bottomfooter__socnetwork ul li:nth-child(3) a {
  background-image: url(../img/icon-insta.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bottomfooter__contacts {
  width: 300px;
  display: flex;
}

.bottomfooter__contacts p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.bottomfooter__contacts p span {
  color: #ffd180;
}

.bottomfooter__contacts p span:hover {
  text-decoration: underline;
}

.bottomfooter__contacts p span:active {
  color: #ee3643;
}

.bottomfooter__contacts p:first-child {
  margin-right: 50px;
}



/* Каталог */



.inner-page .topheader__list li:nth-child(2) a {
  background-color: #ee3643;
}

.inner-page .infoheader__user .user {
  display: block;
  width: 300px;
  font-size: 21px;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;
  padding-right: 49px;
  background-color: white;
  color: black;
  position: relative;
  margin-bottom: 8px;
}

.inner-page .infoheader__user .user::before {
  content: "";
  width: 20px;
  height: 18px;
  left: 13px;
  top: 13px;
  position: absolute;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .infoheader__user .user::after {
  content: "";
  width: 21px;
  height: 17px;
  right: 10px;
  top: 14px;
  position: absolute;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .infoheader__user ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.inner-page .infoheader__user ul li a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  display: block;
  padding-left: 17px;
  text-decoration: underline;
}

.inner-page .infoheader__user ul li:first-child a {
  margin-right: 15px;
}

.inner-page .infoheader__user ul li:last-child a {
  position: relative;
}

.inner-page .infoheader__user ul li:last-child a::before {
  content: "";
  width: 4px;
  height: 5px;
  left: 1px;
  top: 7px;
  position: absolute;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .infoheader__user ul li a:hover {
  color: #ee3643;
}

.inner-page .infoheader__user ul li a:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  padding-right: 25px;
  margin-right: 15px;
  position: relative;
}

.breadcrumbs li::after {
  content: "";
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 3px;
  right: 0px;
}

.breadcrumbs li:last-child {
  margin-right: 0px;
}

.breadcrumbs a {
  color: black;
}

.breadcrumbs-home {
  position: relative;
  display: block;
  width: 20px;
  margin-right: -5px;
  font-size: 0;
}

.breadcrumbs-home::before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 12px;
  content: '';
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

.inner-page .insert  {
  background-color: #f2f6f8;
}

.inner-page .insert h2 {
  margin: 0;
  padding: 0;
}

.filter-item {
  border: none;
  padding: 0;
  margin: 0;
}

.range-filter {
  width: 220px;
}

.filter-item legend {
  color: black;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.range-controls {
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid white;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
}
